body{
    background-color: aquamarine;
    text-align:center;
    
}
div{
    margin-top: 15px;
    
}
.im1{
    display:flex;
    justify-content: center;
}
.im2{
    margin-left: 25px;
    margin-right: 25px;
    background-color: aliceblue;
}